*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
    color: black;
  }


  /*navigation wrapper section*/
  .nav-wrapper img{
    max-width: 100%;
    height: auto;
    filter: brightness(50%);
  }

  .nav-wrapper h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 7vw;
  }

  .nav-wrapper p{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
  }

  /* about section*/

  .about{
    margin-top: 40px;
  }

  .about h1{
    font-size: 50px;
    text-align: center;
  }

  .about p{
    font-size: 21px;
    text-align: center;
    padding: 5px 10px;
    margin: 0px 100px;
  }

  /* image display*/

  .display{
    margin: 70px 0;
  }

  .col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 20px;
  }

  .col-3 img{
    width: 100%;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* footer*/
  footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  footer h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  footer p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 0.5rem;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  